# Mafia2: Online custom .gitignore file

# Libs folder contains build live files.
Libs/

# VS pdb, obj files storage.
Objs/

# Debug/Release binaries folders.
Binary/[Dd]ebug
Binary/[Rr]elease
Binary/m2mp-svr
Binary/logs

# VS related stuff.
.vs
*.suo
*.opendb
*.sdf
*.vcxproj.user
*.VC.db
ipch/

wkernelbase*.pdb

# GCC related stuff
*.o
*.h.gch
.DS_Store
